@font-face {font-family: "Architype Bayer-type"; src: url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.eot"); src: url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.woff") format("woff"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.svg#Architype Bayer-type") format("svg"); }

html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Architype Bayer-Type', serif;
    font-weight: 200;
    text-transform: lowercase;
    --color-primary: #dcd9d2;
    --color-secondary: #e9f39d;
    --color-tertiary: #4e463a;
    --color-tertiary-light: #70695d;
    --padding-horizontal: 4rem;
    --title-font-size: 8.5rem;
}

/* Utilities */

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.center-hor-vert {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* HERO SECTION */

.hero {
    min-height: 50vh;
    position: relative;
    color: var(--color-secondary);
    background: url("./resources/hero.jpg");
    background-size: cover;
    background-position: center;
    isolation: isolate;
}

.title {
    font-size: var(--title-font-size);
    padding: 1rem 2rem;
}

.width-fix {

    width: 70%;

}

.subtitle {
    font-weight: 200;
    font-size: 1.3em;
    justify-content: space-between;
    align-items: center;
    background: inherit;
    /* color: #fff; */
}

.subtitle span {
    font-size: 1.7em;
}

.subtitle * {
    padding: 0 .2rem;
    /* color: white; */
    mix-blend-mode: difference;
}

.email {
    text-decoration: none;
    color: var(--color-secondary);
}

.socials {
    position: absolute;
    bottom: 2rem;
    left: var(--padding-horizontal);
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 26%;
}

.social-svg svg {
    display: inline;
    fill: var(--color-secondary);
}

/* MAIN SECTION */

main {
    background-color: var(--color-primary);
}

.section {
    /* min-height: 100vh; */
    padding: .5rem var(--padding-horizontal);
}

.section-title {
    color: var(--color-secondary);
    font-size: var(--title-font-size);
}

/* Section 1: VIDEO */

.video-grid {
    margin-top: 2rem;
    /* height: 80vh; */
    /* grid-template-columns: repeat(3, 1fr); */
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.phone-item {
    flex-basis: 30%;
}

.screen__1 {
    background: url("./resources/clowncore.PNG");
}

.screen__2 {
    background: url("./resources/pisces.PNG");
}

.screen__3 {
    background: url("./resources/sping_outifts.PNG");
}

.screen__4 {
    background: url("./resources/coachella.PNG");
}


.screen__5 {
    background: url("./resources/pisces_horoscopes.PNG");
}


.screen__6 {
    background: url("./resources/style_beads_w_me.PNG");
}

.phone-screen {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
    inset: var(--padding);
    border-radius: calc(3*var(--border-radius)/5);
    position: absolute;
}


/* Section 2: PHOTO */

.picture-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: 70vh;
    margin-top: 2rem;
}

.picture__1 {
    background: url("./resources/silver_gloves.jpg");
}

.picture__2 {
    background: url("./resources/bathing_suit.jpg");
}

.picture__3 {
    background: url("./resources/pinstripe_corset.jpg");
}

.picture__4 {
    background: url("./resources/white_top.jpg");
}

.picture__5 {
    background: url("./resources/26_cake.jpg");
}

.picture__6 {
    background: url("./resources/fuzzy_ears.jpg");
}

.picture {
    background-position: center;
    background-size: cover;
}

/* Section 3: METRICS */

.metrics-section {
    /* height: 100vh; */
    font-size: 3rem;
    color: var(--color-tertiary);
}

.metric-box {
    margin: 3rem 0;
}

.darken {
    margin: 6rem 0;
    max-width: 80rem;
    position: relative;
    isolation: isolate;
}

.darken::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0, .25);
    z-index: 100;
}

.darken-flex {
    justify-content: space-between;
}

.darken-flex-item {
    margin: 0 1.5rem;
    padding: .3rem;
}

.metric-subtitle {
    color: var(--color-tertiary-light);
    margin: 2rem 0;
}

/* Section 4: PACKAGES */

.packages-container {
    margin-top: 3rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [zero] 40% [midline] auto [end];
    gap: 2rem;
    /* height: 70vh; */
    color: var(--color-tertiary)
}

.packages-container h4 {
    font-size: 3.6rem;
}

.package-item {
    border: 4px solid #a08e6b;
    font-size: 2rem;
    padding: .3rem 1rem;
}

.packages-right-col {
    border: none;
    display: grid;
    grid-template-rows: 7rem auto;
    row-gap: 8px;
}

.package-right-col-small {
    font-size: 1.2rem;
}


/* Section 5: OFFERINGS */

.offerings-section {
    margin-top: 5rem;
}

.offerings-grid {
    /* height: 60vh; */
    margin-top: 2rem;
    grid-template-columns: 55% auto;
    gap: 1rem;
    color: var(--color-tertiary);
}

.offerings-grid li {
    margin: .7rem 0;
}

.offerings-left {
    font-size: 1.4rem;
    padding-left: 2rem;
}

.offerings-right {
    /* padding-left: 1rem; */
    font-size: 1.7rem;
}

.offerings-subtitle {
    color: var(--color-tertiary-light);
}

/* Section 6: WHY */

.why-section {
    /* height: 60vh; */
    margin-top: 5rem;
}

.why-section p {
    font-size: 2.2rem;
    margin: 2rem 0;
}